
.searchBox{
    background-image: url('search.png');
    background-position:right;
   /* background-size: cover; */
   background-size:3vh;
   right: 0;
    background-repeat: no-repeat;
  font-size: 0.9em;
  height: 3.5vh;
  width: 12vw;
margin:1vw;

  border:0.2vw solid #dadada;
    border-radius:0.6vw;
  position: fixed;
  }

.searchClient:focus {
  outline:none;
  border-color:#9ecaed;
  box-shadow:0 0 1vw #9ecaed;
}