.chatsContainer{
    display: flex;
flex-wrap: wrap;
    margin-left: 17vw;
}


.chatDiv{
    width: 20vw;
margin: 2vh;
    height: 30vh;
}
.chatsListContainer{

    margin :2vh;

    display: flex;
  }
  .chatsListContainer div{
    color: rgb(52, 52, 52);
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 0.8vw;
    margin-right: 0.5vw;
    background-color: #eaeaea;
    cursor: pointer;
  }

  .chatsListContainer div:focus{
    background-color: #464EDB;
    color: white;

  }