.chatsList{
    
    display: flex;
    flex-direction: column;
    margin:10vw;
}

.chatsHistoryContainer{
padding-top: 10vh;
padding-right: 10vw;
margin-left: 20vw;
display: flex;
justify-content: space-evenly;

}

  .chatsList div {
    color: rgb(52, 52, 52);
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8vw;
    margin-bottom: 2vw;
    background-color: #eaeaea;
    cursor: pointer;
  }
  
  .chatsList div:focus {
    background-color: #464edb;
    color: white;
  }
  