.login{
   
   display: flex;
   flex-direction: column; 
    align-items: center;
    height: 100%;
    justify-content: center;
    
}

.register{
    display: flex;
    flex-direction: column; 
     align-items: center;
     height: 100%;
     justify-content: center;

}

 a,a:visited {
    font-size: 1.2em;
    color: #037BFE;
    text-decoration: none
    
  }
  a:hover
  {
      text-decoration: underline;
    color: #7ebcff;
  }