.field-input{

}

.inputContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
}
.inputstyle{
    outline: none;
    font-size: 1em;
    height: 4vh;
    width: 20vw;
}