<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GameStation</title> 
        <link rel="stylesheet" href="css/style-bottomBar.css">
        <link rel="stylesheet" href="css/style-main.css">
        <link rel="stylesheet" href="css/style-topBar.css">
        <link rel="stylesheet" href="css/style-body.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>

       <div  id=backgroundImg style="background-image: url({{img}});"></div>

        <nav id=topNavbar>
            {{#topNavs}}
            <div class= topNavItem>{{navItem}}</div>
            {{/topNavs}}
            <!-- <div class=topNavItem>About</div>
            <div class=topNavItem>Store</div>
            <div class=topNavItem>Customer service</div>
            <div class=topNavItem>Contact us</div> -->
            
        </nav>
    
            <div id=msgContainer>
            
                <section id=titleMsg><b>Good {{time}}, What's up gamer?<br> welcome to the game station!</b> <br></section>
                <section id=MsgContent>If you have a lot of games that you are <br>stuck with, you have come to the right place.<br>
                Here you can exchange your games with other people games.  </section>
            </div>
      


        <div id=customerDetailsDiv>

            <div id=customDetailMsg>Fill in your details<br> and join the gaming family!</div>

           

            <form id=customDetailsForm>
                    <div id=customDetailsInputs>
                        {{#inputs}}
                            <input name={{name}} class=formItem placeholder={{name}} type="text">
                            {{/inputs}}

                     </div>

                    <button id=submitButton type="button" onclick="validateForm();">Submit</button>

            </form>

            <div id=errorMsg></div>
            
        </div>

    </body>
    <script src="validateInput.js"></script>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js></script>

    <script>
   
    </script>

     
     </html>