.signup{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.mainContainer{
    height: 60vh;
    width: 20vw;
    padding: 2vh;
    margin: auto;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}