


/*  */

.topNav{
    border-top-right-radius: 4vw;
    background-color: #464EDB;
    font-family: Open Sans,sans-serif;
    height: 100vh;
    width: 15vw;
   /* left: 0; */
    /* font-weight: bold; */
    /* font-size:1.2em; */
  position: fixed;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.topNavItem{
   
    text-decoration: none;
    color: rgb(225, 225, 225);
    width: fit-content;
    height: fit-content;
    
    transition: 0.2s;
margin-bottom: 3vh;
}
.topNavItem:hover{
color: white;
    
 
    cursor: pointer;
}
.topNavItemChosen{
    font-weight: bold;
    text-decoration: none;
    color: white;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    font-size: 130%;
margin-bottom: 3vh;
}


.topNavItem:visited
     {
         text-decoration: none;
 }



.sendButton{
    position:fixed;
    margin:auto;
}

.signout{
    position: fixed;
    left: 0;
    bottom: 0;
    margin:1vw;
}

.companyTitle{
    font-family: Open Sans,sans-serif;
    font-size: 1.5em;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.username{
    font-family: Open Sans,sans-serif;
    color: white; 
    font-weight: bold;
    margin-bottom: 5vh;
}
.clientMenu{
    background-color: #464EDB;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}