

    table {
      margin: 2vh 0 0 2vh;

    }


    .actionButton{
      margin-right: 1vw;
      cursor: pointer;
    }
    .clientsButton{

      float:right;
      background-color: #FFC30F;
      border:none;
      width: fit-content;
      height: 4.5vh;
      font-size: 1em;
      margin:2vh;
      
      /* margin-top: 1vh; */
      border-radius: 0.5vh;
      cursor: pointer;
      transition: 0.3s
      }
      
      .clientsButton:hover{
      background-color: rgb(214, 147, 39);
     
      }

      .modifyModal{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .clientsMsg{
      
        height: fit-content;
        width: 40vw;
        padding: 3vh;
        border-radius: 2vh;
            
}