

    table {
      margin: 2vh 0 0 2vh;

    }


    .actionButton{
      margin-right: 1vw;
      cursor: pointer;
    }
    .clientsButton{
    
      background-color: #FFC30F;
      border:none;
      width: 6.5vw;
      height: 4.5vh;
      font-size: 1em;
      margin:2vh;
      /* margin-top: 1vh; */
      border-radius: 0.5vh;
      cursor: pointer;
      transition: 0.3s
      }
      
      .clientsButton:hover{
      background-color: rgb(214, 147, 39);
     
      }