

Button{
      
    background-color: #FFC30F;
    border:none;
    width: fit-content;
    height: 4.5vh;
    font-size: 1em;
    margin:2vh;
    /* margin-top: 1vh; */
    border-radius: 0.5vh;
    cursor: pointer;
    transition: 0.3s
    }
    
    Button:hover{
    background-color: rgb(214, 147, 39);
   
    }

    .gamesContainer{
        width:80vw;
       margin-left: 18vw;
         display: flex;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        
    }


    .gameDiv{
        background-color: black;
        display: flex;
        
        background-size:cover;
        width:10vw;
        height: 25vh;
        margin-right:4vw;
        margin-top:4vh;
        cursor: pointer;
        transition: 0.2s;
       align-items: center;
       justify-content: center;
    }

    .gameImg{
        width:10vw;
        height: 25vh;
        position: absolute;
}


    .actionIcon{
        margin-right: 0.5vw;
z-index: 1
;
        display: none;
    color: white; 
    }
    .actionIcon:hover{
        transform: scale(1.4);
    }
    .removeIcon:hover{
       
    }
.gameDiv:hover{
    transform: scale(1.2);
}




.gameDiv:focus>.gameImg{ opacity: 0.3;}
.gameDiv:focus .actionIcon {display: block;}
.gameDiv:not(:hover) .actionIcon{display: none;}

.gameDiv:not(:hover)>.gameImg{ opacity: 1;}


